.copyright {
  @include flex;
  justify-content: center;
  background-color: $white-background;
}

.copyright__text {
  margin-right: 10px;
  margin-top: 0;
  @include font-size ($very-low-size);
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
}
