.gallery-card {
  margin-bottom: 38px;
  background-color: $white-background;
  border-bottom: 1px solid $grey-disabled;
}

.gallery-card__title {
  @include font-size ($very-low-size);
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
}

.gallery-card__author {
  @include font-size ($very-low-size);
  line-height: 24px;
  color: $arch-linux;
}

.gallery-card__number {
  @include font-size ($very-low-size);
  font-weight: 700;
  line-height: 24px;
  color: $black;
}
