.intro {
  position: relative;
  background-color: $white-background;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-size: 100% 100%;
  }

  &::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 57px;
    top: 332px;
    left: 0;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      height: 54px;
      top: 340px;
      background-size: 100% 100%;
    }
  }
}

.intro__container {
  padding-top: 90px;
  padding-bottom: 85px;
}
