.main-nav {
  background-color: $white-background;
}

.main-nav__logo-wrapper {
  @include flex;
  justify-content: center;
}

.main-nav__logo {
  position: relative;
  z-index: 8;
}

.main-nav__toggle {
  border: none;
  background-color: $white-background;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  background-color: $light-blue-grey;
}

.main-nav__item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $light-blue-grey;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px
   rgba(255, 255, 255, 0.2);
}

.main-nav__link {
  @include font-size($low-size);
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav--opened .main-nav__link {
  color: $white-background;
}

.main-nav--opened .main-nav__svg--cross {
  position: absolute;
  top: 105px;
  right: 26px;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 0;
}
