.page-form {
  background-color: $white-background;
}

.page-form__slogan {
  @include font-size ($low-size);
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
}

.page-form__text {
  @include font-size ($very-low-size);
  line-height: 24px;
  text-transform: uppercase;
  color: $arch-linux;
}
