.search-hotel {
  background-color: $white-background;
  text-align: center;
}

.search-hotel__slogan {
  @include font-size ($medium-size);
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.search-hotel__text {
  @include font-size ($very-low-size);
  line-height: 24px;
  text-transform: uppercase;
  color: $arch-linux;
}

.search-hotel__btn {
  @include font-size ($medium-size);
  text-transform: uppercase;
  color: $white-background;
}
