body {
  margin: 0;
  padding: 0;
  font-family: 'PTSans', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

.button {
  display: inline-block;
  width: 280px;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 46px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #81b3d3; }

.main-nav {
  background-color: #ffffff; }

.main-nav__list {
  list-style: none; }

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none; }

.intro {
  background-color: #ffffff; }

.intro__slogan {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase; }

.reasons__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333; }

.feature {
  text-align: center; }

.feature__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.feature__number {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; }

.feature__text {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.description {
  background-color: #ffffff; }

.description__list {
  list-style: none; }

.description__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.description__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333; }

.search-hotel {
  background-color: #ffffff;
  text-align: center; }

.search-hotel__slogan {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.search-hotel__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333; }

.search-hotel__btn {
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff; }

.socials {
  background-color: #ffffff; }

.socials__list {
  display: flex;
  justify-content: center;
  list-style: none; }

.socials__link {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  background-color: #81b3d3; }

.socials__link--twitter::before {
  position: absolute;
  content: " ";
  width: 18px;
  height: 15px;
  top: 50%;
  left: 50%;
  background-image: url("../img/icon-twitter.svg");
  transform: translateX(-50%) translateY(-50%); }

.socials__link--facebook::before {
  position: absolute;
  content: " ";
  width: 9px;
  height: 19px;
  top: 50%;
  left: 50%;
  background-image: url("../img/icon-facebook.svg");
  transform: translateX(-50%) translateY(-50%); }

.socials__link--youtube::before {
  position: absolute;
  content: " ";
  width: 20px;
  height: 14px;
  top: 50%;
  left: 50%;
  background-image: url("../img/icon-youtube.svg");
  transform: translateX(-50%) translateY(-50%); }

.page-footer {
  background-color: #ffffff; }

.page-footer__text {
  margin-bottom: 35px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 26px; }

.page-footer__socials {
  margin-bottom: 45px; }

.copyright {
  display: flex;
  justify-content: center;
  background-color: #ffffff; }

.copyright__text {
  margin-right: 10px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000; }

.page-gallery {
  background-color: #ffffff; }

.page-gallery__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000; }

.page-gallery__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333; }

.gallery-card {
  background-color: #ffffff; }

.gallery-card__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000; }

.gallery-card__author {
  font-size: 14px;
  line-height: 24px;
  color: #333333; }

.gallery-card__number {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000; }

.video-pres {
  background-color: #ffffff; }

.video-pres__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000; }

.video-pres__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333; }

/*# sourceMappingURL=style.css.map */
