body {
  margin: 0;
  padding: 0;
  font-family: 'PTSans', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

.button {
  display: inline-block;
  width: 280px;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 46px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #81b3d3; }

.button--form {
  width: 320px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  color: #ffffff; }

.main-nav {
  background-color: #ffffff; }

.main-nav__list {
  list-style: none; }

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none; }

.intro {
  background-color: #ffffff; }

.intro__slogan {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase; }

.reasons__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333; }

.feature {
  text-align: center; }

.feature__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.feature__number {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; }

.feature__text {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.description {
  background-color: #ffffff; }

.description__list {
  list-style: none; }

.description__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.description__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333; }

.search-hotel {
  background-color: #ffffff;
  text-align: center; }

.search-hotel__slogan {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.search-hotel__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333; }

.search-hotel__btn {
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff; }

.socials {
  background-color: #ffffff; }

.socials__list {
  display: flex;
  justify-content: center;
  list-style: none; }

.socials__link {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  background-color: #81b3d3; }

.socials__link--twitter::before {
  position: absolute;
  content: " ";
  width: 18px;
  height: 15px;
  top: 50%;
  left: 50%;
  background-image: url("../img/icon-twitter.svg");
  transform: translateX(-50%) translateY(-50%); }

.socials__link--facebook::before {
  position: absolute;
  content: " ";
  width: 9px;
  height: 19px;
  top: 50%;
  left: 50%;
  background-image: url("../img/icon-facebook.svg");
  transform: translateX(-50%) translateY(-50%); }

.socials__link--youtube::before {
  position: absolute;
  content: " ";
  width: 20px;
  height: 14px;
  top: 50%;
  left: 50%;
  background-image: url("../img/icon-youtube.svg");
  transform: translateX(-50%) translateY(-50%); }

.page-footer {
  background-color: #ffffff; }

.page-footer__text {
  margin-bottom: 35px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 26px; }

.page-footer__socials {
  margin-bottom: 45px; }

.copyright {
  display: flex;
  justify-content: center;
  background-color: #ffffff; }

.copyright__text {
  margin-right: 10px;
  margin-top: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000; }

.page-gallery {
  background-color: #ffffff; }

.page-gallery__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000; }

.page-gallery__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333; }

.page-gallery__block {
  position: relative;
  margin-bottom: 78px; }

.gallery-card {
  background-color: #ffffff; }

.gallery-card__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000; }

.gallery-card__author {
  font-size: 14px;
  line-height: 24px;
  color: #333333; }

.gallery-card__number {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000; }

.video-pres {
  background-color: #ffffff; }

.video-pres__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000; }

.video-pres__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333; }

.video-pres__controls {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 285px;
  left: 0;
  z-index: 10;
  background-color: #000000;
  opacity: 0.2; }

.video-pres__controls--lower {
  height: 66px;
  top: 320px;
  background-color: #f2f2f2;
  opacity: 1; }

.page-form {
  background-color: #ffffff; }

.page-form__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000; }

.page-form__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333; }

.form {
  background-color: #ffffff; }

.form__group {
  border: none; }

.form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000; }

.form__label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333; }

.form__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none; }
  .form__input::-moz-placeholder {
    color: #000000; }
  .form__input:-ms-input-placeholder {
    color: #000000; }
  .form__input::placeholder {
    color: #000000; }

.form__info {
  border: none; }

.form__radio {
  border: none; }

.form__radio-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000; }

.form__radio-list {
  list-style: none; }

.form__radio-label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000; }

.form__checkbox {
  border: none; }

.form__checkbox-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000; }

.form__checkbox-list {
  list-style: none; }

.form__checkbox__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000; }

.form__textarea {
  min-width: 320px;
  border: none; }

.form__textarea-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000; }

.form__textarea-textarea {
  max-width: 300px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none; }
  .form__textarea-textarea::-moz-placeholder {
    color: #000000; }
  .form__textarea-textarea:-ms-input-placeholder {
    color: #000000; }
  .form__textarea-textarea::placeholder {
    color: #000000; }

.form__button {
  margin-top: 50px; }

.form__required {
  display: none; }

.user-information {
  background-color: #ffffff; }

.user-information__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000; }

.user-information__label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333; }

.user-information__input {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none; }
  .user-information__input::-moz-placeholder {
    color: #000000; }
  .user-information__input:-ms-input-placeholder {
    color: #000000; }
  .user-information__input::placeholder {
    color: #000000; }

/*# sourceMappingURL=style.css.map */
