.button {
  display: inline-block;
  width: 280px;
  font-family: inherit;
  @include font-size ($medium-size);
  font-weight: 700;
  line-height: 46px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: $light-blue-grey;

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $dark-blue;
    color: $white-active;
    outline: none;
  }

  &:disabled {
    background-color: $grey-disabled;
  }
}

.button--form {
  width: 320px;
  @include font-size ($medium-size);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  color: $white-background;
}
