@import "variables.scss";
@import "default.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "button.scss";
@import "blocks/main-nav.scss";
@import "blocks/intro.scss";
@import "blocks/reasons.scss";
@import "blocks/feature.scss";
@import "blocks/description.scss";
@import "blocks/search-hotel.scss";
@import "blocks/socials.scss";
@import "blocks/page-footer.scss";
@import "blocks/copyright.scss";
@import "blocks/page-gallery.scss";
@import "blocks/gallery-card.scss";
@import "blocks/video-pres.scss";
@import "blocks/page-form.scss";
@import "blocks/form.scss";
@import "blocks/user-information.scss";
