// variables

$white-background: #ffffff;
$white-active: rgba(255, 255, 255, 0.3);
$white-smoke: #eeeeee;
$arch-linux: #333333;
$black: #000000;
$flamingo-color: #dc6243;
$blue-hover: #669ec0;
$light-blue-grey: #81b3d2;
$dark-blue: #5496bd;
$grey: #f2f2f2;
$grey-disabled: #e5e5e5;
$light-grey: #d6d6d6;
$grey-brown: #766458;
$dark-red-brown: #491213;
$twitter-color: #23a9e1;
$tangerine-bright: #f49774;
$very-soft-red: #f4B1a4;
//  fonts-sizes
$medium-size: 21px;
$low-size: 18px;
$very-low-size: 14px;
$big-size: 30px;
